body {
  text-align: center;
  font-family: Arial;
  background-color: #111;
  color: white;
}

.button {
  display: inline-block;
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}

.game-card {
  margin: 40px auto;
  width: 850px;
  background: #222;
  padding: 20px;
  border-radius: 20px;
}

iframe {
  border: none;
  border-radius: 12px;
}
